.outer{
    background: #f0f0f0;
    padding:1.5rem;
    margin-top: 2rem;
   
}

.input_list{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between
}

.button{
    background-color:#38b2a6;
    color: #ffffff;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    width: 5rem;
}

.button_list{
    display: flex;
    padding: 2rem;
    margin-top: 5rem;
}
.buttonS{
    background-color:#fcce01;
    color: #000000;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    width: 10rem;
}
.buttonC{
    background-color:#ffffff;
    color: #000000;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    width: 10rem;
}